# Node
node_modules/
npm-debug.log
yarn-error.log

# Capacitor / Ionic
www/
dist/
build/
!.gitkeep

# Android build files
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/
android/capacitor-cordova-android-plugins/*
android/capacitor-cordova-android-plugins/**

# System / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Service workers / cache
service-worker.js
